
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 92px 50px 96px 50px;
  height: 293px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-decoration-skip-ink: none;
}

.header__links-list {
  display: flex;
  column-gap: 33px;
  list-style:circle;

}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  height: 105px;
  width: 148px;
  
}

.header_address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 180px;
  min-height: 757px;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px; 
}

.overlay {
  position: absolute;
  background: rgb(0 0 0 / 0.6);
  inset: 0; 
}

.cover__title {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  padding-bottom: 106px;
}

.aligned-text {
  text-align: start;
  padding-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  padding-bottom: 20px;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: end;
  padding-left: 613px;
  
}

.cover__description {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  
}

.cover__description-text {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.7px;
}

.bet-button {
  position: relative;
  padding: 12px 32px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid white;
  background: transparent;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;

}

.lots__heading {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;

}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-content: center;
  margin-bottom: 30px;
  }


.lots__card-list-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-position: center center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);

}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
  
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: white;

}

.card__text{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-skip-ink: none;
  color: white;
  text-decoration: solid;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  padding-left: 40px;
}

.about {

}

.footer_address {

}

.footer_menu {

}